@model HelloWorldCore.Models.Pokemon

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pokemon</title>
</head>
<body>
    <h1>Hello from the html!</h1>
    <div>@Model.Name</div>
</body>
</html>