@model HelloWorldCore.ViewModels.HomePageViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pokemon</title>
</head>
<body>
    <h1>Hello from the html!</h1>
    <h3>@Model.CurrentMessage</h3>

    <table>
        @foreach (var poke in Model.Pokemons)
        {
            <tr>
                <td>@poke.Id</td>
                <td>@poke.Name</td>
            </tr>
        }
    </table>

</body>
</html>